<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Muyani Payroll System</title>
</head>
<body>

<!-- Button trigger modal for Employee -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEmployee">
    Add Employee to {{ this_department.name }}
</button>

<!-- Modal for Employee -->
<div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/newEmployee" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name of Employee</label>
                        <input name=name required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Employee">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">KRA pin</label>
                        <input name="kra_pin" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="kra pin">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">National Id</label>
                        <input name="national_id" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="national id">
                    </div>


                    <div class="form-group">
                        <label for="formGroupExampleInput">Email</label>
                        <input name="email" required type="email" class="form-control" id="formGroupExampleInput"
                               placeholder="enter email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Basic Salary</label>
                        <input name="basic_salary" required type="number" class="form-control"
                               id="formGroupExampleInput"
                               placeholder="enter basic salary">
                    </div>


               <div class="form-group">
                        <label for="formGroupExampleInput">Gender</label>
                   <select name="gender" class="form-control">
                       <option value="na">Not Applicable</option>
                       <option value="m">Male</option>
                       <option value="f">Female</option>
                   </select>
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Benefits</label>
                        <input name="benefits" required type="number" class="form-control"
                               id="formGroupExampleInput"
                               placeholder="enter benefits">
                    </div>


                    <div class="form-group">


                        <input name="department" value="{{ this_department.id }}" class="form-control" type="hidden">


                    </div>
                    <input type="submit" class="form-control btn btn-primary"
                    >

                </form>

            </div>

        </div>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">KRA PIN</th>
        <th scope="col">Email</th>
        <th scope="col">National Id</th>
        <th scope="col">Basic Salary</th>
        <th scope="col">Benefits</th>
        <th scope="col">Payrolls</th>
    </tr>
    </thead>
    <tbody>
    {% for each in this_department.employees %}
        <tr>
            <th scope="row">{{ each.id }}</th>
            <td>{{ each.full_name }}</td>
            <td>{{ each.gender }}</td>
            <td>{{ each.kra_pin }}</td>
            <td>{{ each.email }}</td>
            <td>{{ each.national_id }}</td>
            <td>{{ each.basic_salary }}</td>
            <td>{{ each.benefits }}</td>
            <td><a href="/payrolls/{{ each.id }}">View Payrolls</a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>